
@{
    ViewBag.Title = "LoadTracking";
}


@if (Model != null)
{
    var i = 0;
    foreach (var item in Model)
    {
        if (i == 0)
        {
            
            <tr style="background-color:#ff0000;color:white">
                @*<td data-order="@item.TrackingID">@item.TrackingID</td>*@
                <td class="">@item.MaThe</td>
                <td class="">
                    @if (item.MaPhieu != null)
                    {
                        var strList = item.MaPhieu.Split(',');
                        foreach (var it in strList)
                        {
                            <div>@it</div>
                        }
                    }
                   
                </td>

                <td>@item.Count</td>
                <td>
                    @item.DateStart.ToString("HH:mm:ss")
                </td>
                <td>
                    @if (item.DateEnd != null)
                        {
                        @item.DateEnd.ToString("HH:mm:ss")
                    }
                </td>
                <th class="columnDisplay">
                    @item.TimesResult
                </th>
                @if (ViewBag.Type == 2)
                {
                    <td>
                        @item.Count
                    </td>
                }
                @if (item.DateEnd != null)
                {
                    <th>

                        @if (item.Luotdi != DateTime.MinValue)
                        {
                            @item.Luotdi.ToString("hh:mm:ss")
                        }
                        else
                        {
                            <a onclick="batdau('@item.ThetaiID')" class="btn btn-sm btn-primary">
                                Bắt đầu
                            </a>
                        }

                    </th>

                    <th>
                     @if (item.Luotdi != DateTime.MinValue)
                     {
                        if (item.Luotve != DateTime.MinValue)
                        {
                           
                            @item.Luotve.ToString("hh:mm:ss")

                        }
                        else
                        {
                            <a onclick="ketthuc('@item.ThetaiID')" class="btn btn-sm btn-primary">
                                Kết thúc
                            </a>
                        }
                     }
                        
                    </th>
                }
                else
                {
                    <th></th>
                    <th></th>
                }

            </tr>
        }
        else
        {
            <tr>
                @*<td data-order="@item.TrackingID">@item.TrackingID</td>*@
                <td class="trackingcode">@item.MaThe</td>
                <td class="">
                    @if (item.MaPhieu != null)
                    {
                        var strList = item.MaPhieu.Split(',');
                        foreach (var it in strList)
                        {
                            <div>@it</div>
                        }
                    }

                </td>
                <td>@item.Count</td>
                <td>
                    @item.DateStart.ToString("HH:mm:ss")
                </td>
                <td>
                    @if (item.DateEnd != null)
                        {
                        @item.DateEnd.ToString("HH:mm:ss")
                    }
                </td>
                <th class="columnDisplay">
                    @item.TimesResult
                </th>
                @if (ViewBag.Type == 2)
                {
                    <td>
                        @item.Count
                    </td>
                }
                @if (item.DateEnd != null)
                {
                    <th>

                        @if (item.Luotdi != DateTime.MinValue)
                        {
                            @item.Luotdi.ToString("hh:mm:ss")
                        }
                        else
                        {
                            <a onclick="batdau('@item.ThetaiID')" class="btn btn-sm btn-primary">
                                Bắt đầu
                            </a>
                        }

                    </th>

                    <th>
                        @if (item.Luotdi != DateTime.MinValue)
                        {
                            if (item.Luotve != DateTime.MinValue)
                            {

                                @item.Luotve.ToString("hh:mm:ss")

                            }
                            else
                            {
                                <a onclick="ketthuc('@item.ThetaiID')" class="btn btn-sm btn-primary">
                                    Kết thúc
                                </a>
                            }
                        }

                    </th>
                }
                else
                {
                    <th></th>
                    <th></th>
                }

            </tr>
        }
        i++;
    }
}