@using DAL;
@if (Model != null)
{
    foreach(var item in Model)
    {
        <tr>
            @if (item.DateCreate.Date >= DateTime.Now.Date)
            {
                <td><span>@item.DateCreate.ToString("dd/MM/yyyy")</span></td>
            }
            else
            {
                <td><strong style="color:red">@item.DateCreate.ToString("dd/MM/yyyy")</strong></td>
            }
            <td><strong style="color:#435a39" class="kethucphieu">@item.MaPhieu</strong></td>
            @if (item.Status == 0)
            {
                <td >
                   @{ 
                       DAL_TheTai dalThetai = new DAL_TheTai();

                   }

                    <button class="btn btn-sm btn-primary"  style="margin-right:5px;cursor:pointer;color:#ffffff"  onclick="updateStatus('@item.TheTaiChiTietID','@item.MaPhieu','@dalThetai.GetUserthetaichitiet(item.TheTaiChiTietID)')"   /> <span class="text-white text-primary trangthaigiao">Kết thúc</span>
                    <button class="btn btn-sm btn-danger" style="margin-top:5px;margin-right:5px;cursor:pointer;color:#ffffff" onclick="cancle('@item.TheTaiChiTietID')" /> <span class="text-white text-danger trangthaigiao">Hủy</span>
                 </td>
            }
            @if (item.Status == 1)
            {
                <td><button class="btn btn-sm btn-primary"  style="margin-right:5px;cursor:pointer;color:#ffffff" disabled  checked/> <span  class="text-danger text-white trangthaigiao">Đã giao</span> </td>
            }
            @if (item.Status == -1)
            {
                <td><button class="btn btn-sm btn-danger" style="margin-right:5px;cursor:pointer;color:#ffffff" disabled checked /> <span class="text-danger text-white trangthaigiao">Đã hủy</span> </td>
            }
            <td>
                @item.DateEnd
            </td>
            <td>
               <strong class="text-danger">@item.Description</strong>
            </td>
        </tr>
    }
}

<script>
    function updateStatus(id,maphieu,username) {
        var param = {
            "TheTaiChiTietID": id
        }
        $.ajax({
            url: '/TheTai/updateStatus',
            type: 'POST',
            dataType: 'html',
            data: param,
            success: function (data, status, xhr) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
  
    function cancle(id) {
        slId = id;
        $("#exampleModal").modal("toggle");
    }
</script>