@using DAL;
@if (Model != null)
{
    foreach(var item in Model)
    {
        <tr>
            
            <td><strong style="color:#435a39" class="kethucphieu">@item.MaPhieu</strong></td>
          
            @if (item.Status == 0)
            {
                <td>
                   @{ 
                       DAL_TheTai dalThetai = new DAL_TheTai(); 
                   }

                    <button class="btn btn-sm btn-primary"  style="margin-right:5px;cursor:pointer;color:#ffffff"  onclick="updateStatus('@item.TheTaiChiTietID','@item.MaPhieu','@dalThetai.GetUserthetaichitiet(item.TheTaiChiTietID)')" /> <span class="text-white text-primary trangthaigiao">Kết thúc</span>
                    <button class="btn btn-sm btn-danger" style="margin-top:5px;margin-right:5px;cursor:pointer;color:#ffffff" onclick="cancle('@item.TheTaiChiTietID')" /> <span class="text-white text-danger trangthaigiao">Hủy</span>
                 </td>
            }
           
            @if (item.Status == 1)
            {
                <td><button class="btn btn-sm btn-primary"  style="margin-right:5px;cursor:pointer;color:#ffffff" disabled  checked/> <span  class="text-danger text-white trangthaigiao">Đã giao</span> </td>
            }
            @if (item.Status == -1)
            {
                <td><button class="btn btn-sm btn-danger" style="margin-right:5px;cursor:pointer;color:#ffffff" disabled checked /> <span class="text-danger text-white trangthaigiao">Đã hủy</span> </td>
            }
            @if (item.DateCreate.Date >= DateTime.Now.Date)
            {
                <td width="15%"><span>@item.DateCreate.ToString("dd/MM/yyyy hh:mm:ss")</span></td>
            }
            else
            {
                <td width="15%"><strong style="color:red">@item.DateCreate.ToString("dd/MM/yyyy hh:mm:ss")</strong></td>
            }
            <td>
                @item.SoKM
            </td>
            <td>
                @item.DateEnd
            </td>
            <td style="width:20%">
                @if (item.TienPhatSinh!=null && item.TienPhatSinh!=0)
                {
                    <div><span>Tiền phát sinh: </span> @item.TienPhatSinh</div>
                }
                @if (item.SoKMPhatSinh!=null && item.SoKMPhatSinh!=0)
                {
                    <div><span>Số KM phát sinh: </span> @item.SoKMPhatSinh</div>
                }
                @if (item.Description != "")
                {
                    <span>Ghi chú: </span> <strong class="text-danger">@item.Description</strong>
                }
               
            </td>
            <td>
                @item.TenChanhXe
            </td>
            <td>
                @item.SoDT
            </td>
            <td>
                @item.SoBill
            </td>
            <td>
                @if (item.Images != null)
                {
                    <img src="~/Images/GiaoNhan/@item.Images" class="img-responsive" style="width:200px;height:auto;object-fit:contain" />
                }
            </td>
        </tr>
    }
}

<script>
    function updateStatus(id, maphieu, username) {
        $("#TienPhatSinh").show();
        $("#SoKMPhatSinh").show();
        $("#nhantienmatbox").show();
        $("#TenChanhXe").show();
        $("#SoBill").show();
        $("#SoDT").show();
        $("#hadkbox").show();
        $("#expleHuyphieu").html("Kết thúc phiếu");
        $("#exampleModal").modal("toggle");
        type = 1;
        slId = id;
        //return;
        //var param = {
        //    "TheTaiChiTietID": id
        //}
        //$.ajax({
        //    url: '/TheTai/updateStatus',
        //    type: 'POST',
        //    dataType: 'html',
        //    data: param,
        //    success: function (data, status, xhr) {
		//	saveId(username,maphieu);
        //        window.location.reload();
        //    },
        //    error: function (xhr, status, error) {
        //        alert(status);
        //    }
        //});
    }
  function saveId(user,id)
		{
			var ua = navigator.userAgent.toLowerCase();

			var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
			if(isAndroid) {
			Android.nextScreen(user,id);
			}
		}
  function cancle(id) {
      $("#TienPhatSinh").hide();
      $("#SoKMPhatSinh").hide();
      $("#nhantienmatbox").hide();
      $("#TenChanhXe").hide();
      $("#SoBill").hide();
      $("#SoDT").hide();
      $("#hadkbox").hide();
      $("#expleHuyphieu").html("Hủy phiếu");
      slId = id;
      type = 2;
      $("#exampleModal").modal("toggle");
  }
</script>