<table class="table">
    <thead>
        <tr>
            <th>
                Ngày
            </th>
            <th>
                Thẻ tài
            </th>
          
            <th>
                Tổng số lượng
            </th>
            <th>
                Thời gian bắt đầu
            </th>
            <th>Thời gian kết thúc làm hàng</th>
            <th>
                Danh sách phiếu <span id="tongsophieu">( @ViewBag.sum )<span> Phiếu</span></span>
            </th>
            <th>
                Tổng thời gian
            </th>
        </tr>
    </thead>
    <tbody id="tbody">
        @if (Model != null)
        {
            foreach(var item in Model)
            {
                <tr> 
                    <td>
                        @item.DateStart.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.MaThe
                    </td>
                   
                    <td>
                        @item.Count
                    </td>
                    <td>
                        @item.DateStart.ToString("HH:mm:ss")
                    </td>
                    <td>
                        @if (item.DateEnd != null)
                        {
                            @item.DateEnd.ToString("HH:mm:ss")
                            <span>
                                | <strong>@Tool.Helper.Tinhtongthoigian(item.DateEnd, item.DateStart)</strong>
                            </span>
                        }
                    </td>   
                    <td>
                        @if (item.lstTheTaiChiTiet != null)
                        {
                            foreach (var it in item.lstTheTaiChiTiet)
                            {
                                if (it.DateEnd != null)
                                {
                                    <div>
                                        <strong class="txtPhieu">@it.MaPhieu</strong> <span> <span> Kết thúc: </span> <strong class="text-danger">@it.DateEnd.ToString("dd/MM/yyyy HH:mm:ss")</strong> </span>
                                        @if (it.Status == -1)
                                        {
                                            <div>
                                                <strong class="text-danger">Đã hủy </strong> <span> Lý do : </span> <strong>@it.Description</strong>
                                            </div>
                                        }
                                        <div style="margin-bottom:5px;border-bottom:1px solid #eee">
                                            Tổng thời gian : <strong>@Tool.Helper.Tinhtongthoigian(it.DateEnd, item.DateEnd)</strong>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <strong class="txtPhieu">@it.MaPhieu</strong>
                                    </div>
                                }
                            }
                        }
                    </td>
                    <td>
                       <strong>
                         <i class="fas fa-clock"></i>  @item.TongThoigian
                       </strong>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>