
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    <span>Sắp xếp giao nhận</span>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sắp xếp giao nhận</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="text-right">
            <a onclick="showlichsu()" class="btn_lichsusapxep">Xem Lịch sử</a>
        </div>
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    @*<div class="card-header text-right" >

                        </div>*@
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body" style="    background-image: linear-gradient(to bottom right, red, yellow),url(/Images/warehouse.jpg);
    background-position: center;
    background-repeat: no-repeat;">
                            <div class="sapxeptitle">
                               Đang giao nhận
                            </div>
                            <div class="danggiaonhan_box">

                            </div>
                            <div class="sapxeptitle">
                                Danh sách sắp xếp giao nhận
                            </div>
                            <div class="form-group">
                                @if (ViewBag.ListGiaonhan != null)
                                {
                                    <div class="sapxepgn_box">
                                        <ul>
                                            @foreach (var item in ViewBag.ListGiaonhan)
                                            {
                                                var index = ViewBag.ListGiaonhan.IndexOf(item);
                                                <li>
                                                    <div data-stt="@index" data-value="" onclick="dragData(this)">
                                                        <span data-drag=""></span>
                                                        <a data-id="" onclick="closeData(this)" style="display:none;"><i class="fa fa-times"></i></a>
                                                        <strong>
                                                            @(index + 1)
                                                        </strong>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="ds_xephangbox">
                                    @if (ViewBag.ListGiaonhan != null)
                                    {
                                        <ul>
                                            @foreach (var item in ViewBag.ListGiaonhan)
                                            {
                                                <li>
                                                    <a data-value="@item.Code" id="gn_@item.UserID" class="btn btn-xs  btnchung btn btn_gn" onclick="tgActive(this)">
                                                        @item.Code
                                                        <div style="font-size:10px;">
                                                            @item.EmployeeName
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    <a style="padding:5px 15px;" class="btn btn-sm btn-dark float-right" onclick="SaveData()">Lưu</a>
                                </div>

                            </div>

                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lịch sử</h5>

                </div>
                <div class="modal-body">
                    @if (ViewBag.ListHistory != null)
                    {
                        <table class="table table-bordered">
                            @foreach (var item in ViewBag.ListHistory)
                            {
                                <tr>
                                    <td>
                                        @item.NgayCapNhat.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @{
                                            var lst = item.Position.Split('_');
                                            foreach (var it in lst)
                                            {
                                                if (it != "")
                                                {
                                                    <a class="btn btn-sm btn-danger">@it</a>
                                                }
                                            }
                                        }

                                    </td>
                                </tr>
                                            }
                        </table>

                                            }
                </div>
            </div>
        </div>
    </div>
    <script>
        var selectUser = "";
        var selectId = "";
        var isSelect = false;
        function tgActive(dis) {
            $(".btnchung").removeClass("aactive");
            $(dis).addClass("aactive");
            selectUser = $(dis).attr("data-value");
            selectId = $(dis).attr("id");
            isSelect = false;

            var firstClick = 0;
            var twoClick = 0;
        }
        var firstClick = 0;
        var twoClick = 0;
        function dragData(dis) {
            $(dis).addClass("clickActive");
            var span = $(dis).find("span");
            var getAttr = span.attr("data-drag");
            getAttr = getAttr.replace("gn_", "");

            if (firstClick == 0) {
                firstClick = getAttr;
            }
            else {
                if (twoClick == 0) {
                    twoClick = getAttr;

                    //Swap
                    var param = {
                        "FirstCode": firstClick,
                        "TwoCode": twoClick
                    }
                    $.ajax({
                        url: '/SapXepGiaoNhan/SwapCode',
                        dataType: 'html',
                        data: param,
                        async: false,
                        success: function (data, status, xhr) {
                            window.location.reload();
                        },
                        error: function (xhr, status, error) {
                            alert(status);
                        }
                    });
                }
                else {
                }
            }

            if (getAttr != "")
                return;

            if (selectId == "")
                return;
            if (isSelect == false) {
                $(dis).find("span").html(selectUser);
                $(dis).find("span").attr("data-drag", selectId)
                $("#" + selectId).hide();
                isSelect = true;
                $(dis).find("a").show();
                $(dis).find("a").attr("data-id", selectId)
            }

        }
        function closeData(dis) {
            var data_id = $(dis).attr("data-id");
            data_id = data_id.replace('gn_', '');
            var param = {
                "MaThe": data_id
            }
            var isDelete = true;
            $.ajax({
                url: '/SapXepGiaoNhan/KiemTraTheHoatDong',
                dataType: 'html',
                data: param,
                async: false,
                success: function (data, status, xhr) {
                    if (data == 'True') {
                        isDelete = false;
                    }
                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
            //if (isDelete == false) {
            //    swal("Đang xử lý không thể xóa!");
            //    return false;
            //}
            var dataid = $(dis).attr("data-id");
            $("#" + dataid).show();
            $("[data-drag=" + dataid + "]").html('');
            $("[data-drag=" + dataid + "]").attr("data-drag", "");
            $(".btnchung").removeClass("aactive");
            $(dis).hide();
        }
        var lstObj = [];
        function SaveData() {
            lstObj = [];
            $(".sapxepgn_box li div").each(function () {
                var findspan = $(this).find("span");
                var getdata = $(findspan).attr("data-drag");
                if (getdata != '') {
                    lstObj.push(getdata.replace("gn_", ""));
                }
            });

            var result = "";
            for (i = 0; i < lstObj.length; i++) {
                if (i < lstObj.length) {
                    if (i < (lstObj.length - 1))
                        result += lstObj[i] + ",";
                    else
                        result += lstObj[i];
                }
            }
            var param = {
                "array": result
            }
            $.ajax({
                url: '/SapXepGiaoNhan/SapxepInsertNew',
                dataType: 'html',
                data: param,
                success: function (data, status, xhr) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
        }

        $(document).ready(function () {
            if ('@ViewBag.PositionEmpty' != '') {
                var data = '@ViewBag.PositionEmpty';
                var getSplit = data.split(',');
                for (i = 0; i < getSplit.length; i++) {
                    var getAttr = $("[data-stt=" + i + "]");
                    //if (getsplit2[1] == "1") {
                    //    getAttr.addClass("disable_sapxep");
                    //}
                    var fspan = getAttr.find("span");
                    fspan.attr("data-drag", "gn_" + getSplit[i]);
                    var fa = getAttr.find("a");
                    fa.attr("data-id", "gn_" + getSplit[i]);
                    fa.show();

                    //Tìm button
                    var fbt = $("[id=gn_" + getSplit[i] + "]");
                    fbt.hide();
                    fspan.html(fbt.attr("data-value"));
                }
            }
            //Done
            if ('@ViewBag.PositionDone' != '') {
                data = '@ViewBag.PositionDone';
                getSplit = data.split(',');

                var htmldanggiaonhan_box = "";
                htmldanggiaonhan_box+="<ul>"
                for (i = 0; i < getSplit.length; i++)
                {
                    htmldanggiaonhan_box += "<li>"
                    var getAttr = $("[data-stt=" + i + "]");
                    var fbt = $("[id=gn_" + getSplit[i] + "]");
                    fbt.hide();
                    htmldanggiaonhan_box += "<a onclick=\"restart('"+fbt.attr("data-value")+"')\">";
                    htmldanggiaonhan_box += fbt.attr("data-value");
                    htmldanggiaonhan_box += "</a>";
                    htmldanggiaonhan_box += "</li>";
                }
                htmldanggiaonhan_box += "</ul>";
                $(".danggiaonhan_box").html(htmldanggiaonhan_box)
            }

        })

        function showlichsu() {
            $("#exampleModal").modal("toggle");
        }
        function restart(mathe) {
            var param = {
                "mathe": mathe
            }
            $.ajax({
                url: '/SapXepGiaoNhan/RestartThe',
                dataType: 'html',
                data: param,
                success: function (data, status, xhr) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
        }
    </script>
</section>
