
@{
    ViewBag.Title = "UpdateEmployee";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kết thúc đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Kết thúc đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            @*<div class="form-group">
                                <label for="exampleInputEmail1">Họ tên nhân viên</label>
                                <input id="txtEmployeeName" type="text" class="form-control" placeholder="Nhập họ tên" />
                                <input type="hidden" id="txtEmployeeID" value="0" />
                            </div>*@ 
                            @{
                                var dclass = "";
                                if (ViewBag.Type == 2 || ViewBag.Type == 3)
                                {
                                    dclass = "d-none";
                                }
                            }
                            <div class="form-group @dclass">
                                <input id="txtReceivedID" type="hidden" value="@ViewBag.ReceivedID" />
                                <label for="User name">Nhà cung cấp</label>
                                @if (ViewBag.ListNCC != null)
                                {
                                    <select class="form-control" id="slNCC" style="width:100%;max-width:100%">
                                        @foreach (var item in ViewBag.ListNCC)
                                        {
                                            <option value="@item.NCCID">
                                                @item.NCCName
                                            </option>
                                        }
                                    </select>

                                }
                            </div>
                            @if (ViewBag.Type == 1)
                            {
                                <label for="User name">Hình thức  (Nhập | Kiểm tra)</label>
                                <div class="form-group hinhthucnhap">
                                   
                                    <div class="row">
                                        <div class="col-sm-1 col-4">
                                            <input type="checkbox" onchange="NhapChange(this)"   checked="checked" class="hinhthucnhap_checkbox" style="transform: scale(1.5)" /><span>Nhập</span>
                                        </div>
                                        <div class="col-sm-10 col-8">
                                            <input id="txtNhap" onchange="IPNhapChange()" type="number" value="0" class="form-control"  />
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="form-group hinhthucnhap">
                                    <div class="row">
                                        <div class="col-sm-1 col-4">
                                            <input type="checkbox" onchange="KiemTrachange(this)" checked="checked" class="hinhthucnhap_checkbox" style="transform: scale(1.5)" /><span>Kiểm tra</span>
                                        </div>
                                        <div class="col-sm-10 col-8">
                                            <input  type="number" id="txtKiemTra" value="0" class="form-control"  />
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Type == 2)
                            {
                                <label for="User name">Trung chuyển</label>
                                <div class="form-group hinhthucnhap">

                                    <div class="row">
                                        <div class="col-sm-1 col-4">
                                            <input type="checkbox" onchange="NhapChange(this)" checked="checked" class="hinhthucnhap_checkbox" style="transform: scale(1.5)" /><span>số lượng</span>
                                        </div>
                                        <div class="col-sm-10 col-8">
                                            <input id="txtNhap" type="number" value="0" class="form-control" />
                                            <input type="hidden" id="txtKiemTra" value="0" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            }
                            @if (ViewBag.Type == 3)
                            {
                                <label for="User name">Xếp hàng</label>
                                <div class="form-group hinhthucnhap">

                                    <div class="row">
                                        <div class="col-sm-1 col-4">
                                            <input type="checkbox" onchange="NhapChange(this)" checked="checked" class="hinhthucnhap_checkbox" style="transform: scale(1.5)" /><span>Số lượng</span>
                                        </div>
                                        <div class="col-sm-10 col-8">
                                            <input id="txtNhap" type="number" value="0" class="form-control" />
                                            <input type="hidden" id="txtKiemTra" value="0" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            }
                            <div class="form-group">
                                <label for="User name">Loại Hàng</label>
                                <table class="table table-striped">
                                    @if (ViewBag.ListProduct != null)
                                    {
                                        foreach (var item in ViewBag.ListProduct)
                                        {
                                            <tr>
                                                <td class="tdProductName">
                                                    @item.ProductName
                                                </td>
                                                <td>
                                                    <input data-val="@item.ProductName" class="ipProduct" style="transform: scale(1.5);position: relative;top: 6px;"  type="checkbox" onchange="toggleSl('@item.ProductID')" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
 
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <button type="button" onclick="Back()" class="btn btn-primary">Quay lại</button>
                            <button type="button" onclick="UpDate()" class="btn btn-danger">Kết thúc</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<script>
    function Back() {
        window.location.href = "/nhap-hang";
    }
    function toggleSl(id) {
        var getAttr = $("#ip_" + id).attr("disabled");

        if (getAttr == "disabled") {
            $("#ip_" + id).removeAttr("disabled");
        }
        else {
            $("#ip_" + id).attr("disabled", "disabled");
            $("#ip_" + id).val('');
        }
    }


    var lstProduct = [];
    function UpDate() {

        var slnhap = $("#txtNhap").val();
        var slkiemtra = $("#txtKiemTra").val();

        if (slkiemtra == 0 && slnhap == 0) {
            swal("Vui lòng nhập số lượng!");
            return;
        }
        if (slkiemtra != 0 && slnhap != 0) {
            if (slkiemtra > slnhap) {
                swal("Số lượng kiểm tra phải nhỏ hơn số lượng nhập");
                return;
            }
        }

        var str = "";
        var hascheck = false;
        $(".ipProduct").each(function () {
            if ($(this).prop("checked") == true) {
                var getValue = $(this).attr("data-val");
                str += getValue + ",";
                hascheck = true;
            }
        });
        if (hascheck == false) {
            swal("Vui lòng chọn sản phẩm");
            return;
        }
        var param = {
            "ReceivedID": $("#txtReceivedID").val(),
            "NCCID": $("#slNCC").val(),
            "Products": str,
            "SLNhap": $("#txtNhap").val(),
            "SlKiemTra": $("#txtKiemTra").val(),
            "type": '@ViewBag.Type'
        }
        $.ajax({
            url: '/Received/Update',
            type: 'POST',
            dataType: 'html',
            data: param,
            success: function (data, status, xhr) {
                window.location.href = "/nhap-hang";
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function IPNhapChange() {
        $("#txtKiemTra").val($("#txtNhap").val())
    }
    function NhapChange(dis) {
        var chk = $(dis).prop("checked");
        $("#txtNhap").val(0);

        if (chk == true) {
            $("#txtNhap").removeAttr("disabled");
        }
        else {
            $("#txtNhap").attr("disabled", "disabled");
        }
    }
    function KiemTrachange(dis) {
        var chk = $(dis).prop("checked");
        $("#txtKiemTra").val(0);
        if (chk == true) {
            $("#txtKiemTra").removeAttr("disabled");
        }
        else {
            $("#txtKiemTra").attr("disabled", "disabled");
        }
    }
</script>