
@{
    ViewBag.Title = "LoadData";
}
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr class="trdb" data-value="@item.ReceivedID">
            <td>
                <strong>@item.STT</strong>

            </td>
            <td data-order="@item.DateStart.ToString("MMddyyyy")">
                <div>
                    <strong>@item.DateStart.ToString("HH:mm:ss")</strong>
                </div>
                <div>
                    @if (item.DateEnd != null)
                    {
                        <strong style="color:#ff0000">@item.DateEnd.ToString("HH:mm:ss") </strong>
                    }
                </div>
            </td>
            <td>@item.Products</td>
            <td>
                @if (item.Type == 1)
                {
                    if (item.SLNhap > 0)
                    {
                        <span>Nhập: </span>@item.SLNhap

                    }
                    if (item.SlKiemTra > 0)
                    {
                        <div>
                            <span>Kiểm tra: </span>@item.SlKiemTra
                        </div>
                    }

                }
               @if (item.Type == 2)
               {
                   <span>Trung chuyển</span>
               }
                @if (item.Type == 3)
                {
                    <span>Xếp hàng</span>
                }
            </td>
            <td class="columnDisplay">
                @if(item.SLNhap>0 && item.SlKiemTra > 0)
                {
                    <span>@item.SLNhap</span>
                }
                else
                {
                    if (item.SLNhap > 0)
                    {
                        <span>@item.SLNhap</span>
                    }
                    if (item.SlKiemTra > 0)
                    {
                        <span>@item.SlKiemTra</span>
                    }
                }
            </td>
            <td class="columnDisplay">
                @if (item.KPI > 0)
                {
                    <span class="text-primary">@item.KPI</span>
                }
                else
                {
                    <span class="text-danger">@item.KPI</span>
                }
            </td>
            <td class="columnDisplay">
                @if (item.KPI < 0)
                {
                    <strong class="text-primary">Chưa đạt KPI</strong>
                }
                @if (item.KPI > 0)
                {
                    <strong class="text-danger">Đạt KPI</strong>
                }
                @if (item.KPI == 0)
                {
                    <strong></strong>
                }
            </td>
            <td>
                @if (item.DateEnd == null)
                {
                    if (item.ParentId == 0 && item.TypeTracking==0)
                    {
                        <a style="margin-bottom:5px;width:60px;" class="btn  btn-xs btn-sm btn-primary" href="/Received/edit?ReceivedID=@item.ReceivedID&type=@ViewBag.Type">Kết thúc</a>
                        <a style="margin-bottom:5px;width:60px;" onclick="DeleteRecived(@item.ReceivedID)" class="btn btn-xs btn-sm btn-danger">Xóa</a>
                    }
                    else
                    {
                        if (item.ParentId != 0)
                        {
                            <a style="margin-bottom:5px;" class="btn  btn-xs btn-sm btn-danger" onclick="ketthucdonchuyen('@item.ReceivedID')">Kết thúc đơn chuyển Nhập</a>
                        }
                        else
                        {
                            <a style="margin-bottom:5px;" class="btn  btn-xs btn-sm btn-danger" onclick="ketthucdonchuyen2('@item.ReceivedID')">Kết thúc đơn chuyển Xuất</a>
                        }
                    }
                }
                else
                {
                    <strong class="text-success">Hoàn tất</strong>
                    if (ViewBag.UType == 2 || ViewBag.UType == 3)
                    {
                        if (item.ParentId != 0)
                        {
                            <strong> (Phiếu chuyển nhập kho)</strong>
                        }
                        if (item.TypeTracking != 0)
                        {
                            <strong> (Phiếu chuyển xuất kho)</strong>
                        }
                    }
                    //Trường hợp là nhap
                    if (ViewBag.UType == 1)
                    {
                        if (item.IsSent != 1)
                        {
                            <div class="giaotrungchuyen">
                                <a class="btn btn-xs btn-primary" onclick="trungchuyen('@item.ReceivedID')">
                                    Chuyển phiếu
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="giaotrungchuyen">
                              <span style="color:red">Đã Chuyển phiếu</span>
                            </div>
                        }
                    }
                }
            </td>
        </tr>
    }
}
<script>
  
    $(".trdb").dblclick(function () {
        var getId=$(this).attr("data-value");
        var param={
            ReceivedID:getId
        }
        $.ajax({
            url: '/Received/GetPopupInfo',
            type: 'POST',
            data:param,
            dataType: 'json',
            success: function (data, status, xhr) {
                $(".shadow").show();
                $("#STT").html(data.STT);
                if(data.Type==1) {

                    $("#Type").html('Nhập');
                }
                else{
                    $("#Type").html('Kiểm tra');
                }
                $("#TimesResult").html(data.TimesResult);
                $("#KPI").html(data.KPI);
                if(data.KPI>0){
                    $("#Result").html('<strong style=\"color:red\">Đạt</strong>');
                }
                else{
                    $("#Result").html('<strong style=\"color:red\">Chưa Đạt KPI</strong>');
                }
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    });
    function ketthucdonchuyen(id) {

        swal({
            title: "Kết thúc đơn?",
            text: "Bạn có muốn kết thúc!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
.then((willDelete) => {
    if (willDelete) {
        var param = {
            "ReceivedID": id
        }
        $.ajax({
            url: '/Received/KetThucDonChuyen',
            data: param,
            type: "POST",
            dataType: 'html',
            success: function (data, status, xhr) {
                LoadData();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    } else {
    }
});
    }
    function ketthucdonchuyen2(id) {

        swal({
            title: "Kết thúc đơn?",
            text: "Bạn có muốn kết thúc!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
.then((willDelete) => {
    if (willDelete) {
        var param = {
            "ReceivedID": id
        }
        $.ajax({
            url: '/Received/KetThucDonChuyen',
            data: param,
            type: "POST",
            dataType: 'html',
            success: function (data, status, xhr) {
                LoadData();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    } else {
    }
});
    }
</script>


