
@{
    ViewBag.Title = "Index";
}



@{
    ViewBag.Title = "UpdateEmployee";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    <span>Giao nhận</span>


                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giao nhận</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    @*<div class="card-header text-right" >

                        </div>*@
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-1">
                                        <label class="mapx" for="exampleInputEmail1">Mã</label>
                                    </div>
                                    <div class="col-10 col-md-4 col-lg-4">
                                        <input inputmode="none" onchange="ScanNext()" type="text" class="form-control" id="txtScan" style="display:inline-block;margin-left:20px;" />
                                    </div>
                                    <div class="col-7 text-right">
                                       <a onclick="chuyenphieu()" class="btn btn-sm btn-primary">Chuyển phiếu</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group table-responsive">
                                <table class="table table-striped text-center">
                                    <thead>
                                        <tr>

                                            <th>
                                                Phiếu xuất
                                            </th>

                                            <th>
                                                Thời gian
                                            </th>
                                            <th class="columnDisplay">
                                                Tổng thời gian
                                            </th>
                                            <th>
                                                Tổng Số lượng
                                            </th>
                                            <th width="15%">
                                                Số lượng xuất
                                            </th>
                                            <th class="columnDisplay">
                                                KPI
                                            </th>
                                            <th class="columnDisplay">
                                                Kết quả
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @if (ViewBag.ListNhanVienTrungChuyen != null)
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="checkphieu">
                                    <li>
                                        <input id="ip1" style="scale: 1.3;margin-right: 3px;" onclick="cophieu()" name="chkPhieu" type="radio" checked="checked" /> 
                                        <span onclick="chonloaiphieu('ip1')" style="cursor:pointer;">Có phiếu</span>
                                    </li>
                                    <li>
                                        <input id="id2" style="scale: 1.3;margin-right: 3px;" onclick="khongphieu()" name="chkPhieu" type="radio" /> 
                                        <span onclick="chonloaiphieu('id2')" style="cursor:pointer;">Không phiếu</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row cophieu" style="margin:10px auto;">
                            <span class="col-sm-2">Mã phiếu</span>
                            <div class="col-sm-10">
                                <input id="txtMaPhieu" onchange="slphieu()" class="form-control"  style="width:100%;min-width:100%"/>
                            </div>
                        </div>
                        <div class="row" style="margin:10px auto;">
                            <span class="col-sm-2">Số lượng</span>
                            <div class="col-sm-10">
                                <input id="txtSoLuong" class="form-control" style="width:100%;min-width:100%" />
                            </div>
                        </div>
                        <div class="form-group khongphieu">
                            <label for="User name">Loại Hàng</label>
                            <table class="table table-striped">
                                @if (ViewBag.ListProducts != null)
                                {
                                    foreach (var item in ViewBag.ListProducts)
                                    {
                                        <tr>
                                            <td class="tdProductName">
                                                @item.ProductName
                                            </td>
                                            <td>
                                                <input data-val="@item.ProductName" class="ipProduct" style="transform: scale(1.5);position: relative;top: 6px;" type="checkbox"  />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <hr />
                        <div class="row">
                           
                            <span class="col-sm-12">Chọn người thực hiện </span>
                            <input id="txtReceivedID" type="hidden" />
                            <div class="col-sm-12">
                                @*<select class="form-control" style="min-width:100%" id="slNVTT">
                                        @foreach (var it in ViewBag.ListNhanVienTrungChuyen)
                                        {
                                            <option value="@it.UserID">
                                                @it.EmployeeName
                                            </option>
                                        }
                                    </select>*@
                                <ul class="chuyenphieuul">
                                    @foreach (var it in ViewBag.ListNhanVienTrungChuyen)
                                    {
                                        <li>
                                            <input class="ipchung" type="checkbox" onclick="selectUSer(this)" id="ip_@it.UserID" value="@it.UserID" />
                                            <span dat-id="@it.UserID" onclick="tgip('@it.UserID')" style="cursor:pointer">
                                                @it.EmployeeName <span>(Trung chuyển)</span>
                                            </span>

                                        </li>
                                    }
                                    @foreach (var it in ViewBag.ListNhanVienXepHang)
                                    {
                                        <li>
                                            <input class="ipchung" type="checkbox" onclick="selectUSer(this)" id="ip_@it.UserID" value="@it.UserID" />
                                            <span dat-id="@it.UserID" onclick="tgip('@it.UserID')" style="cursor:pointer">
                                                @it.EmployeeName <span>(Xếp hàng)</span>
                                            </span>

                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                      
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="luuchuyenPhieu()">Chuyển phiếu</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //getDatenow();
        loadTracking();
        $("#txtScan").focus();
        $(".khongphieu").hide();
    });
    function tgip(id) {
        $("#ip_" + id).trigger("click");
        //if ($("#ip_" + id).prop("checked") == false)
        //    $("#ip_" + id).prop("checked", true).change();
        //else
        //    $("#ip_" + id).prop("checked", false).change();
    }
    var lstUser = [];
    function selectUSer(dis) {
        var checked = $(dis).prop("checked");
        var value = $(dis).val();
        //Cap nhật lại list
        lstUser = [];
        $(".ipchung").each(function () {
            if ($(this).prop("checked") == true) {
                lstUser.push($(this).val());
            }
        });
        console.clear();
        console.log(lstUser);

    }
    var str = "";
    var hascheck = false;
   
    function slphieu() {
        var Maphieu = $("#txtMaPhieu").val().trim();
        var param = {
            "Maphieu":Maphieu
        }
        $.ajax({
            url: '/Tracking/LoadPhieuTheoMa',
            type: 'POST',
            data:param,
            dataType: 'html',
            success: function (data, status, xhr) {
                $("#txtSoLuong").val(data);
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    var typeTracking = 1;
    function cophieu() {
        $(".cophieu").show();
        $(".khongphieu").hide();
        typeTracking = 1;
    }
    function khongphieu() {
        $(".khongphieu").show();
        $(".cophieu").hide();
        typeTracking = 2;
    }
    function chuyenphieu() {
        $("#exampleModal").modal("toggle");
    }
    function luuchuyenPhieu() {
        if (typeTracking == 1) {
            if ($("#txtMaPhieu").val() == '') {
                swal("Vui lòng nhập mã phiếu!");
                return false;
            }
        }
        if ($("#txtSoLuong").val() == '') {
            swal("Vui lòng chọn số lượng!");
            return false;
        }
        if (lstUser.length == 0) {
            swal("Vui lòng chọn người thực hiện!");
            return false;
        }
        $(".ipProduct").each(function () {
            if ($(this).prop("checked") == true) {
                var getValue = $(this).attr("data-val");
                str += getValue + ",";
                hascheck = true;
            }
        });
        console.log(str);
        var strData = "";
        for (i = 0; i < lstUser.length; i++) {
            if (lstUser[i] != '') {
                strData += lstUser[i] + ",";
            }
        }
        var param = {
            "TypeTracking": typeTracking,
            "Code": $("#txtMaPhieu").val(),
            "SLNhap": $("#txtSoLuong").val(),
            "UserID": strData,
            "Products":str
        }
        $.ajax({
            url: '/Tracking/LuuChuyenPhieu',
            type: 'POST',
            data: param,
            dataType: 'html',
            success: function (data, status, xhr) {
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function getDatenow() {
        var today = new Date();
        var date = today.getHours() + "-" + today.getMinutes() + "-" + today.getSeconds() + " | " + today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        $("#currentTime").html('<i style=\"margin-right:10px;\" class=\"fas fa-clock\"></i>' + "    " + date);
        setInterval(function () { getDatenow() }, 1000);
    }
    function ScanNext() {
        var findTR = $("tr[data-value=" + $("#txtScan").val() + "]");
        var ipChild = findTR.find("input"); 
        InsertData(ipChild.val());
        $("#txtScan").focus();
    }
    $("#txtScan").focusout(function () {
        //$("#txtScan").focus();
    });

    function loadTracking() {
        $.ajax({
            url: '/Tracking/LoadTracking',
            type: 'POST',
            dataType: 'html',
            success: function (data, status, xhr) {
                $("#tbody").html(data);
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function InsertData(sl) {

       
        var param = {
            "TrackingCode": $("#txtScan").val().trim(),
            "CountStep":sl
        }
        $.ajax({
            url: '/Tracking/Insert',
            type: 'POST',
            dataType: 'html',
            data: { "data": JSON.stringify(param) },
            success: function (data, status, xhr) {

                if (data == 3) {
                    swal({
                        title: "Quét mã", text: "Phiếu này đã xuất xong!", type:
             "success"
                    }).then(function () {
                    }
);
                }

                if (data == 4) {
                    swal({
                        title: "Quét mã", text: "Phiếu này đã xuất đủ số lượng!", type:
             "success"
                    }).then(function () {
                    }
);
                }
                if (data == 2) {
                    swal({
                        title: "Quét mã", text: "Mã không tồn tại trong hệ thống!", type:
             "success"
                    }).then(function () {
                    }
);
                }
                if (data == 1) {
                    loadTracking();
                }
                $("#txtScan").val('');
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }

    function chonloaiphieu(id) {
        $("#" + id).click()
    }
</script>
